/* Move down content because we have a fixed navbar that is 200px tall */
body {
  padding-bottom: 20px;
}

#left {
    padding: 40pt 40pt 40pt 40pt;
    background-color: #CCCCCC;
}

#right {
    padding: 40pt 40pt 40pt 40pt;
    background-color: #FDDF2F;
}

nav.navbar{
  margin: 0px;
}

nav img{
  height: 100px;
  padding: 15px;
  display: inline-block;
}

nav h1{
  display: inline-block;
  color: #fff;
}

div#map-canvas{
  margin: 15px 0;
  display: none;
}

.useMap{
  cursor: pointer;
}

#postalcodeSubmit{
  display: block;
  margin: 10px 0 0 0;
}
