/* Move down content because we have a fixed navbar that is 200px tall */
body {
  padding-top: 140px;
  padding-bottom: 20px;
}

#left {
    padding: 40pt 40pt 40pt 40pt;
    background-color: #CCCCCC;
}

#right {
    padding: 40pt 40pt 40pt 40pt;
    background-color: #FDDF2F;
}



/* ----------------------------------------------
* SAME HEIGHT STYLES
---------------------------------------------- */

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}